<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerFragment (pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${pageTitle}">Page Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

</head>
    <body>
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">Odds Jumper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" th:href="@{/trackodds}" href="tracker.html">Track Odds <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" th:href="@{/profile}">Profile</a>
                    <a class="nav-item nav-link" href="#">Update Profile</a>
                    <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </div>
                <div class="navbar-nav">
                    <a th:href="@{/logout}" class="nav-item nav-link">Log Out</a><!-- href="nav-item nav-link" -->
                </div>
            </div>
        </nav>



        <footer th:fragment="footer" style="width: 100%;">
            <div class="container-fluid">
                <p class="mx-auto" style="width: 33%;">All rights reserved to Odds Jumper</p>
            </div>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        </footer>

    </body>
</html>